{% extends 'base.html' %}

{% block content %}
    <table class="ui padded celled right aligned table">
          <thead>
            <tr>
                <th class="left aligned">账号</th>
                <th>密码</th>
                <th>状态</th>
                <th>网站</th>
          </tr></thead>
          <tbody>
          {% for obj in objs %}
            <tr>
              <td class="left aligned">{{ obj.phone }}</td>
              <td>{{ obj.password }}</td>
              <td>{{ obj.status }}</td>
              <td>{{ obj.website }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}