{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
          Spider Man!!
        </title>
        <link rel="stylesheet" href="../static/css/semantic.css">
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/semantic.js"></script>
        <script src="../static/js/exporting.js"></script>
        <script src="../static/js/highcharts.js"></script>
        <script src="../static/js/highcharts-more.js"></script>
        <script src="../static/js/dropdown.js"></script>
    </head>
    <body>
    <div class="ui container" style="margin-top: 3em;">
        <div class="ui inverted menu">
          <div class="header item">Brand</div>
          <div class="active item">Link</div>
          <a class="item">Link</a>
          <div class="ui dropdown item" tabindex="0">
            Dropdown
            <i class="dropdown icon"></i>
            <div class="menu transition hidden" tabindex="-1">
              <div class="item">Action</div>
              <div class="item">Another Action</div>
              <div class="item">Something else here</div>
              <div class="divider"></div>
              <div class="item">Separated Link</div>
              <div class="divider"></div>
              <div class="item">One more separated link</div>
            </div>
          </div>
          <div class="right menu">
            <div class="item">
              <div class="ui transparent inverted icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search">
              </div>
            </div>
            <a class="item">Link</a>
          </div>
        </div>


{% block content %}
{% endblock %}
</div>
</body>
{% block foot %}
{% endblock %}
</html>